services/app/log/*
services/app/tmp/*
services/app/public/assets/*

!services/app/log/.keep
!services/app/tmp/.keep

tmp

.env

*.retry

terraform/.terraform/
.terraform.tfstate.lock*
terraform.tfstate
terraform.tfstate.backup

terraform/ssh_public_keys/*
!terraform/ssh_public_keys/.keep

services/app/vendor/
